* {
    box-sizing: border-box;
}

.createAccount h2 {
    color: #FFF;
}

.createAccount button {
    padding: 10px;
    color: #FFF;
    background-color: #0784b5;
    margin: 1rem;
}

.createAccount {
    width: 30vw;
    /* height: 40vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    border: 1px solid;    
    border-color: #39ace7;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10vh;
    margin-bottom: 10vh;
    color: #FFF;
}

.createAccount input {
    width: 95%;
    border: 1px solid #282c34;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: none;
    font-family: 'Source Sans Serif';
}

.createAccount select {
    padding: 10px;
    color: #FFF;
    background-color: #0784b5;
    margin: 1rem;
    width: 30%;
}

.createAccount textarea {
    resize: vertical;
    width: 95%;
    padding: 5px;
    border-radius: 5px;
    box-shadow: none;
    font-family: 'Source Sans Serif';
    margin: 5px;
}