.Trainers {
    
    background-color: #192428;
}
.Trainers-header {
    background-color: #192428;
}
.Trainers-filter {
    width: 250px;
    height: 100vh;
    margin-top: 80px;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0px;
    transition: 850ms;
}
.Trainers-filter-container
{
    display: flex;
    flex-wrap: wrap;
}
.Trainers-filter-searchbox {
    margin: 0 20px;
    top: 40px;
    padding-top: 20px;
}
.Trainers-filter-activitiesbox
{   position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px;

    
    
}
.Trainers-filter-reset {
    color: white;
    background-color: #0784b5;
    padding: 10px 30px;
    margin: 0 45px;
    cursor: pointer;
    border-radius: 20px;
}
.Trainers-box {
    position: relative;
    border: solid #0784b5 2px;
    border-radius: 20px;
    height: 100%;
    width: 80%;
    background-color: #2d383c;
    text-align: left;
    margin: 40px 10px;
    margin-left: 250px;
    clear: both;
    overflow: auto;
    color: white;
    font-family: 'Source Sans Serif';
}

.Trainers-name {
    font-size: 32px;
    font-weight: bold;
    text-align: right;
    padding-right: 48px;
}

.Trainers-bio-box {
    
    display: flex;
    text-align: left;
    font-size: 24px;
    padding-top: 15px;
    padding-left: 85px;
    padding-right: 15px;
    justify-content: right;
    max-width: 100%;
    max-height: 100%;
    
   
}
.Trainers-bio-image-and-activities {
   
    padding-left: 40px;
    margin-left: 40px;
    padding-right:40px;
    
    
}
.Trainers-bio-image {
    padding-left:40px;
    margin-right: 20px;
    margin-top:0px;
    display: block;
    
    
}
.Trainers-activities-box {
    
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 400px;
    padding-right: 10px;
}
.Trainers-email {
    text-align: right;
    padding-top: 20px;
    padding-right: 22px;
    font-size: 20px;
}
.btn-primary {
    margin: 16px 20px;
}


.activity {
  background-color: #414c50;
  font-size: 1em;
  margin-right: 0.5em;
  margin-bottom: 0.25em;
}
img {
    float:left;
    width: 400px;
    height: 400px;
    background-size: cover;
}