.Trainer-box {
    border: 5px outset #808080;
    background-color: lemonchiffon;
    text-align: left;
    padding: 25px;
}

.Trainer-name {
    text-align: left;
    padding: 25px;
}
.Trainer-bio {
    text-align: left;
    padding: 25px;
}
.Trainer-email {
    text-align: right;
    padding: 25px;
}