.TrainerPage-box {
    border: 5px outset #808080;
    height: 100%;
    background-color: #2d383c;
    text-align: left;
    margin: 40px 10px;
    clear: both;
    overflow: auto;
    color: white;
    font-family: 'Source Sans Serif';
}
.Trainers-header {
    background-color: #2d383c;
}

.TrainerPage-name {
    font-size: 42px;
    font-weight: bold;
    text-align: left;
    padding: 5px;
}

.TrainerPage-bio-box {
    
    display: flex;
    text-align: left;
    font-size: 20px;
    padding-top: 75px;
    padding-left: 85px;
    padding-right: 15px;
    justify-content:right;
    max-width: 100%;
    max-height: 100%;
   
}
.TrainerPage-bio-image {
    
    padding-left: 40px;
    margin-left: 40px;
}

.TrainerPage-email {
    text-align: right;
    padding-top: 20px;
    padding-right: 72px;
    font-size: 20px;
}
.btn-primary {
    margin: 16px 20px;
}

.bg-danger {
    
    margin: -5px -5px;
    
}
.TrainerPage-Badgebox
{
    
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 400px;
    padding-top: 15px;
    padding-right: 10px;
    
    
}
.TrainerPage-star{
    cursor: pointer;
    width: fit-content;
    block-size: fit-content;
    float:right; 
    padding-right: 10px;
}
/* Tooltip text */
.TrainerPage-star .tooltiptext {
    visibility: hidden;
    font-weight: bold;
    font-size: 30px;
    color: rgb(154, 197, 36);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    right: 8%;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .TrainerPage-star:hover .tooltiptext {
    visibility: visible;
  }